/* ==========================
   Xymnoz v1.0
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --bg:#08080a;
    --card:rgba(18,18,25,.70);

    --border:rgba(255,255,255,.08);

    --text:#ffffff;
    --sub:#9c9c9c;

    --purple:#a100ff;
    --red:#ff2b55;

}

body{

    font-family:'Outfit',sans-serif;

    color:var(--text);

    overflow:hidden;

    background:
    radial-gradient(circle at top,#381047 0%,transparent 40%),
    radial-gradient(circle at bottom,#5a001d 0%,transparent 40%),
    var(--bg);

}

/* INTRO */

#intro{

    position:fixed;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:var(--bg);

    z-index:1000;

    transition:.6s;

}

#intro h1{

    font-size:72px;
    font-weight:700;

}

#intro p{

    color:var(--sub);

    margin-top:12px;
    margin-bottom:35px;

}

#enterBtn{

    padding:15px 45px;

    border:none;

    border-radius:999px;

    cursor:pointer;

    font-size:16px;

    font-family:'Outfit';

    transition:.3s;

}

#enterBtn:hover{

    transform:translateY(-3px);

    box-shadow:0 0 25px rgba(161,0,255,.45);

}

/* PAGINA */

#main{

    display:none;

    width:100vw;
    height:100vh;

    justify-content:center;
    align-items:center;

}

/* TARJETA */

.card{

    width:380px;

    padding:35px;

    border-radius:26px;

    background:var(--card);

    border:1px solid var(--border);

    backdrop-filter:blur(22px);

    box-shadow:
    0 0 45px rgba(161,0,255,.10);

    text-align:center;

}

/* AVATAR */

.avatar{

    width:140px;
    height:140px;

    margin:auto;

    border-radius:50%;

    background:#222;

    border:2px solid rgba(255,255,255,.08);

    box-shadow:
    0 0 35px rgba(161,0,255,.20);

    margin-bottom:25px;

}

/* TITULOS */

.card h1{

    font-size:38px;

}

.bio{

    margin-top:10px;

    margin-bottom:30px;

    color:var(--sub);

}

/* LINKS */

.links{

    display:flex;

    flex-direction:column;

    gap:14px;

}

.links a{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    text-decoration:none;

    color:white;

    background:#18181f;

    padding:15px;

    border-radius:14px;

    transition:.25s;

    border:1px solid transparent;

}

.links a:hover{

    transform:translateY(-3px);

    border-color:rgba(161,0,255,.35);

    box-shadow:

    0 0 18px rgba(161,0,255,.20);

}

/* ICONOS */

.fa-discord{

    color:#5865F2;

}

.fa-youtube{

    color:#ff3030;

}

.fa-github{

    color:white;

}

.fa-steam{

    color:#66c0f4;

}

